CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-07=y
CONFIG_IB=y
CONFIG_IB_STANDALONE=y
#组件调整
CONFIG_PACKAGE_firewall4=m
CONFIG_PACKAGE_kmod-nft-core=m
CONFIG_PACKAGE_kmod-nft-fib=m
CONFIG_PACKAGE_kmod-nft-fullcone=m
CONFIG_PACKAGE_kmod-nft-nat=m
CONFIG_PACKAGE_kmod-nft-offload=m
CONFIG_PACKAGE_kmod-nft-socket=m
CONFIG_PACKAGE_kmod-nft-tproxy=m
CONFIG_PACKAGE_firewall=y
CONFIG_PACKAGE_iptables=y
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_ip6tables-extra=y
CONFIG_PACKAGE_ip6tables-mod-nat=y
#插件调整
CONFIG_PACKAGE_luci-app-accesscontrol=m
CONFIG_PACKAGE_luci-app-acl=m
CONFIG_PACKAGE_luci-app-acme=m
CONFIG_PACKAGE_luci-app-adblock=m
CONFIG_PACKAGE_luci-app-adblock-fast=m
CONFIG_PACKAGE_luci-app-adguardhome=m
CONFIG_PACKAGE_luci-app-advanced-reboot=m
CONFIG_PACKAGE_luci-app-advancedsetting=m
CONFIG_PACKAGE_luci-app-ahcp=m
CONFIG_PACKAGE_luci-app-airplay2=m
CONFIG_PACKAGE_luci-app-alist=m
CONFIG_PACKAGE_luci-app-amule=m
CONFIG_PACKAGE_luci-app-apinger=m
CONFIG_PACKAGE_luci-app-aria2=m
CONFIG_PACKAGE_luci-app-arpbind=m
CONFIG_PACKAGE_luci-app-attendedsysupgrade=m
CONFIG_PACKAGE_luci-app-autoreboot=m
CONFIG_PACKAGE_luci-app-babeld=m
CONFIG_PACKAGE_luci-app-banip=m
CONFIG_PACKAGE_luci-app-bcp38=m
CONFIG_PACKAGE_luci-app-bird1-ipv4=m
CONFIG_PACKAGE_luci-app-bird1-ipv6=m
CONFIG_PACKAGE_luci-app-bmx6=m
CONFIG_PACKAGE_luci-app-bmx7=m
CONFIG_PACKAGE_luci-app-cd8021x=m
CONFIG_PACKAGE_luci-app-cifs=m
CONFIG_PACKAGE_luci-app-cifs-mount=m
CONFIG_PACKAGE_luci-app-cjdns=m
CONFIG_PACKAGE_luci-app-clamav=m
CONFIG_PACKAGE_luci-app-cloudflared=m
CONFIG_PACKAGE_luci-app-commands=m
CONFIG_PACKAGE_luci-app-cpufreq=m
CONFIG_PACKAGE_luci-app-cpulimit=m
CONFIG_PACKAGE_luci-app-crowdsec-firewall-bouncer=m
CONFIG_PACKAGE_luci-app-cshark=m
CONFIG_PACKAGE_luci-app-dawn=m
CONFIG_PACKAGE_luci-app-dcwapd=m
CONFIG_PACKAGE_luci-app-ddns=m
CONFIG_PACKAGE_luci-app-ddns-go=m
CONFIG_PACKAGE_luci-app-diag-core=m
CONFIG_PACKAGE_luci-app-diskman=m
CONFIG_PACKAGE_luci-app-dnscrypt-proxy=m
CONFIG_PACKAGE_luci-app-dockerman=m
CONFIG_PACKAGE_luci-app-dufs=m
CONFIG_PACKAGE_luci-app-dump1090=m
CONFIG_PACKAGE_luci-app-dynapoint=m
CONFIG_PACKAGE_luci-app-eoip=m
CONFIG_PACKAGE_luci-app-example=m
CONFIG_PACKAGE_luci-app-fileassistant=m
CONFIG_PACKAGE_luci-app-filebrowser=m
CONFIG_PACKAGE_luci-app-filetransfer=m
CONFIG_PACKAGE_luci-app-frpc=m
CONFIG_PACKAGE_luci-app-frps=m
CONFIG_PACKAGE_luci-app-fwknopd=m
CONFIG_PACKAGE_luci-app-haproxy-tcp=m
CONFIG_PACKAGE_luci-app-hd-idle=m
CONFIG_PACKAGE_luci-app-hnet=m
CONFIG_PACKAGE_luci-app-https-dns-proxy=m
CONFIG_PACKAGE_luci-app-ipsec-vpnd=m
CONFIG_PACKAGE_luci-app-keepalived=m
CONFIG_PACKAGE_luci-app-kodexplorer=m
CONFIG_PACKAGE_luci-app-ksmbd=m
CONFIG_PACKAGE_luci-app-ledtrig-rssi=m
CONFIG_PACKAGE_luci-app-ledtrig-switch=m
CONFIG_PACKAGE_luci-app-ledtrig-usbport=m
CONFIG_PACKAGE_luci-app-leigod-acc=m
CONFIG_PACKAGE_luci-app-lorawan-basicstation=m
CONFIG_PACKAGE_luci-app-lucky=m
CONFIG_PACKAGE_luci-app-lxc=m
CONFIG_PACKAGE_luci-app-microsocks=m
CONFIG_PACKAGE_luci-app-minidlna=m
CONFIG_PACKAGE_luci-app-minieap=m
CONFIG_PACKAGE_luci-app-mjpg-streamer=m
CONFIG_PACKAGE_luci-app-mosdns=m
CONFIG_PACKAGE_luci-app-msd_lite=m
CONFIG_PACKAGE_luci-app-music-remote-center=m
CONFIG_PACKAGE_luci-app-mwan3=m
CONFIG_PACKAGE_luci-app-mwan3helper=m
CONFIG_PACKAGE_luci-app-mwol=m
CONFIG_PACKAGE_luci-app-n2n=m
CONFIG_PACKAGE_luci-app-natmap=m
CONFIG_PACKAGE_luci-app-netdata=m
CONFIG_PACKAGE_luci-app-nextdns=m
CONFIG_PACKAGE_luci-app-nfs=m
CONFIG_PACKAGE_luci-app-nft-qos=m
CONFIG_PACKAGE_luci-app-ngrokc=m
CONFIG_PACKAGE_luci-app-njitclient=m
CONFIG_PACKAGE_luci-app-nlbwmon=m
CONFIG_PACKAGE_luci-app-nut=m
CONFIG_PACKAGE_luci-app-ocserv=m
CONFIG_PACKAGE_luci-app-olsr=m
CONFIG_PACKAGE_luci-app-olsr-services=m
CONFIG_PACKAGE_luci-app-olsr-viz=m
CONFIG_PACKAGE_luci-app-omcproxy=m
CONFIG_PACKAGE_luci-app-openclash=m
CONFIG_PACKAGE_luci-app-openvpn=m
CONFIG_PACKAGE_luci-app-openvpn-server=m
CONFIG_PACKAGE_luci-app-openwisp=m
CONFIG_PACKAGE_luci-app-oscam=m
CONFIG_PACKAGE_luci-app-p910nd=m
CONFIG_PACKAGE_luci-app-pagekitec=m
CONFIG_PACKAGE_luci-app-passwall=m
CONFIG_PACKAGE_luci-app-pbr=m
CONFIG_PACKAGE_luci-app-pcimodem=m
CONFIG_PACKAGE_luci-app-pgyvpn=m
CONFIG_PACKAGE_luci-app-phtunnel=m
CONFIG_PACKAGE_luci-app-polipo=m
CONFIG_PACKAGE_luci-app-pppwn=m
CONFIG_PACKAGE_luci-app-privoxy=m
CONFIG_PACKAGE_luci-app-qbittorrent=m
CONFIG_PACKAGE_luci-app-qos=m
CONFIG_PACKAGE_luci-app-radicale=m
CONFIG_PACKAGE_luci-app-radicale2=m
CONFIG_PACKAGE_luci-app-ramfree=m
CONFIG_PACKAGE_luci-app-rclone=m
CONFIG_PACKAGE_luci-app-rp-pppoe-server=m
CONFIG_PACKAGE_luci-app-samba=m
CONFIG_PACKAGE_luci-app-samba4=m
CONFIG_PACKAGE_luci-app-scutclient=m
CONFIG_PACKAGE_luci-app-ser2net=m
CONFIG_PACKAGE_luci-app-shadowsocks-libev=m
CONFIG_PACKAGE_luci-app-shairplay=m
CONFIG_PACKAGE_luci-app-siitwizard=m
CONFIG_PACKAGE_luci-app-smartdns=m
CONFIG_PACKAGE_luci-app-snmpd=m
CONFIG_PACKAGE_luci-app-socat=m
CONFIG_PACKAGE_luci-app-softether=m
CONFIG_PACKAGE_luci-app-splash=m
CONFIG_PACKAGE_luci-app-sqm=m
CONFIG_PACKAGE_luci-app-squid=m
CONFIG_PACKAGE_luci-app-sshtunnel=m
CONFIG_PACKAGE_luci-app-ssr-plus=m
CONFIG_PACKAGE_luci-app-statistics=m
CONFIG_PACKAGE_luci-app-strongswan-swanctl=m
CONFIG_PACKAGE_luci-app-syncdial=m
CONFIG_PACKAGE_luci-app-syncthing=m
CONFIG_PACKAGE_luci-app-sysuh3c=m
CONFIG_PACKAGE_luci-app-tailscale=m
CONFIG_PACKAGE_luci-app-timecontrol=m
CONFIG_PACKAGE_luci-app-timewol=m
CONFIG_PACKAGE_luci-app-tinyproxy=m
CONFIG_PACKAGE_luci-app-tor=m
CONFIG_PACKAGE_luci-app-transmission=m
CONFIG_PACKAGE_luci-app-travelmate=m
CONFIG_PACKAGE_luci-app-trojan-server=m
CONFIG_PACKAGE_luci-app-ttyd=m
CONFIG_PACKAGE_luci-app-turboacc=m
CONFIG_PACKAGE_luci-app-ua2f=m
CONFIG_PACKAGE_luci-app-udpxy=m
CONFIG_PACKAGE_luci-app-uhttpd=m
CONFIG_PACKAGE_luci-app-unblockneteasemusic=m
CONFIG_PACKAGE_luci-app-unbound=m
CONFIG_PACKAGE_luci-app-upnp=m
CONFIG_PACKAGE_luci-app-usb-printer=m
CONFIG_PACKAGE_luci-app-usbmodem=m
CONFIG_PACKAGE_luci-app-usteer=m
CONFIG_PACKAGE_luci-app-uugamebooster=m
CONFIG_PACKAGE_luci-app-v2ray-server=m
CONFIG_PACKAGE_luci-app-v2raya=m
CONFIG_PACKAGE_luci-app-verysync=m
CONFIG_PACKAGE_luci-app-vlmcsd=m
CONFIG_PACKAGE_luci-app-vnstat=m
CONFIG_PACKAGE_luci-app-vnstat2=m
CONFIG_PACKAGE_luci-app-vsftpd=m
CONFIG_PACKAGE_luci-app-watchcat=m
CONFIG_PACKAGE_luci-app-webadmin=m
CONFIG_PACKAGE_luci-app-webrestriction=m
CONFIG_PACKAGE_luci-app-wifischedule=m
CONFIG_PACKAGE_luci-app-wol=m
CONFIG_PACKAGE_luci-app-xfrpc=m
CONFIG_PACKAGE_luci-app-xinetd=m
CONFIG_PACKAGE_luci-app-xlnetacc=m
CONFIG_PACKAGE_luci-app-xupnpd=m
CONFIG_PACKAGE_luci-app-zerotier=m
